<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alibaba.media.sdk.demo"
    android:versionCode="1"
    android:versionName="2.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <application
        android:allowBackup="true"
        android:name="com.alibaba.media.sdk.demo.DemoApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <!-- android:theme="@style/AppTheme" --> 
        <activity
            android:name="com.alibaba.media.sdk.demo.MediaMainActivity"
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alibaba.media.sdk.demo.MediaServerActivity" />
        <activity android:name="com.alibaba.media.sdk.demo.ImageUploadFragment" />
        <activity android:name="com.alibaba.media.sdk.demo.ImageLoadFragment" />
        <activity android:name="com.alibaba.media.sdk.demo.MyHorizontalScrollView" />
    </application>

</manifest>
